@import '../../sass/mixins'
.item
    display: flex
    justify-content: space-between
    transition: 0.3s
    cursor: pointer
    height: rem-f(250)
    overflow: hidden
    &__img
        width: rem-f(430)
        height: inherit  
        overflow: hidden  
        & img
            object-fit: cover
    &__text_wrapper
        width: rem-f(430)
        display: flex
        flex-direction: column
    &:hover
        transform: scale(1.02)
        transition: 0.3s
      
    &__header
        font-weight: bold
        font-size: rem-f(28)
        line-height: 1.5
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        overflow: hidden
    &__date
            margin-top: 10px
            color: #888888
            font-weight: normal
            font-size: rem-f(14)
            line-height: 19px
            flex-grow: 2
            min-height: rem-f(22)
    &__descr
        font-weight: normal
        font-size: rem-f(18)
        line-height: 1.6
        display: -webkit-box
        -webkit-line-clamp: 5
        -webkit-box-orient: vertical
        overflow: hidden
@media screen and (max-width: 500px)
    .item
        flex-direction: column
        height: rem-f(400)
        &__img, &__text_wrapper
            width: auto
        &__img
            min-height: 205px