@import 'sass/variables'
@import 'sass/mixins'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body
    background-color: #F8F8F8
    position: relative
* 
    font-family: 'Open Sans', sans-serif
    font-weight: 700
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
    color: inherit
.container
    width: 880px
    margin: 0 auto
    position: relative
.disabled
    display: none